---
// Component Imports
import Intro from "../../content/intro.md";
import PageLayout from "../layouts/PageLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<PageLayout>
	<Fragment slot="main">
		<section class="prose sm:prose-md md:prose-lg lg:prose-xl">
			<Intro />
		</section>
	</Fragment>
</PageLayout>
