---
// Component Imports
import Intro from "../content/intro.md";
import PageLayout from "../layouts/PageLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<PageLayout>
	<Fragment slot="main">
		<section class="prose sm:prose-md md:prose-lg lg:prose-xl dark:prose-invert">
			<Intro />
		</section>

		<section
			class="flex flex-col gap-4 md:flex-row lg:flex-row justify-between prose sm:prose-md md:prose-lg lg:prose-xl my-8 dark:prose-invert"
		>
			<div
				class="flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
			>
				<div class="relative">
					<!-- <CodeBracketSquareIcon
						className="hover:text-gray-600 h-8 w-8 absolute top-full left-full transform -translate-x-6 -translate-y-6 opacity-20 dark:opacity-8"
					/> -->
					<h5>Nix system level config for MacOS ( Apple silicon )</h5>
					<a
						href="https://github.com/robalaban/config"
						class="inline-flex items-center"
					>
						View on Github
						<!-- <ArrowTopRightOnSquareIcon className="h-5 w-5 ml-2 fill-current" /> -->
					</a>
				</div>
			</div>

			<div
				class="flex-1 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
			>
				<div class="relative">
					<!-- <CircleStackIcon
						className="hover:text-gray-600 h-8 w-8 absolute top-full left-full transform -translate-x-6 -translate-y-6 opacity-20 dark:opacity-10"
					/> -->
					<h5>Romanian Baccalaureate 2019-2022 dataset</h5>
					<a
						href="https://www.kaggle.com/datasets/robalaban/romanian-baccalaureate-2020"
						class="inline-flex items-center"
					>
						View on Kaggle
						<!-- <ArrowTopRightOnSquareIcon className="h-5 w-5 ml-2 fill-current" /> -->
					</a>
				</div>
			</div>
		</section>
	</Fragment>
</PageLayout>
