---
---

<header class="flex justify-end my-8 font-['Syne']">
	<nav class="flex left-0 items-center space-x-8">
		<a href="/" class="hover:text-gray-600 hover:line-through">Home</a>
		<a href="/blog" class="hover:text-gray-600 hover:line-through">Blog</a>
		<a
			href="https://github.com/robalaban"
			target="_blank"
			rel="noopener"
			class="hover:text-gray-600 hover:line-through">Github</a
		>
		<a
			href="https://linkedin.com/in/robalaban"
			target="_blank"
			rel="noopener"
			class="hover:text-gray-600 hover:line-through">LinkedIn</a
		>
	</nav>
</header>
