---
---

<header class="sticky flex w-full justify-center">
	<nav class="flex items-center space-x-6 lg:pr-4">
		<a href="/" class="hover:text-gray-600">Home</a>
		<a href="/about" class="hover:text-gray-600">About</a>
		<a
			href="https://github.com/robalaban"
			target="_blank"
			rel="noopener"
			class="hover:text-gray-600">GitHub</a
		>
		<a
			href="https://linkedin.com/in/robalaban"
			target="_blank"
			rel="noopener"
			class="hover:text-gray-600">LinkedIn</a
		>
	</nav>
</header>
