---
import { HomeIcon } from "@heroicons/react/20/solid";
import ThemeToggle from "./ThemeToggle.astro";
import AnchorPoint from "./AnchorPointToggle.astro";
---

<header class="flex justify-between my-8 font-['Syne'] items-center">
	<nav
		class="flex left-0 items-center space-x-8 text-base sm:text-md md:text-lg lg:text-xl leading-normal md:leading-relaxed lg:leading-loose"
	>
		<a href="/">
			<HomeIcon
				className="hover:text-gray-600 hover:cursor-pointer hover:line-through h-7 w-7"
			/>
		</a>

		<a href="/blog" class="hover:text-gray-600 hover:line-through">Blog</a>
		<a
			href="https://github.com/robalaban"
			target="_blank"
			rel="noopener"
			class="hover:text-gray-600 hover:line-through">Github</a
		>
		<a
			href="https://linkedin.com/in/robalaban"
			target="_blank"
			rel="noopener"
			class="hover:text-gray-600 hover:line-through">LinkedIn</a
		>
	</nav>
	<AnchorPoint />
	<ThemeToggle />
</header>
